@charset "UTF-8";
/* CSS Document */

/*-------------------------------------
Main Styles
-------------------------------------*/

#main-header img {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
}

#wrapper {
	background-color: #354791;
	color: #E6E6E6;
	display: block;
	font-family: 'Quicksand', sans-serif;
	line-height: 1.35em;
	margin: 0 auto;
	width: 100%;
}

#main-content {
	margin: 0 auto;
	width: 90%;
}

#main-footer {
	background-color: #CE3F38;
	display: block;
	margin: 0 auto;
	text-align: center;
}

#main-footer p {
		padding-bottom: 10px;
}

#main-footer p:first-child {
		padding-top: 10px;
}

a {
	color: #FCBF32;
	text-decoration: none;
}
a:hover {
	color: #78BBF0;
}


/*-------------------------------------
Spider-Man Introduction Styles
-------------------------------------*/

#intro {
	padding: 20px 0;
}


/*-------------------------------------
Spider-Man Link Styles
-------------------------------------*/

ul {
	display: block;
	list-style: none;
	margin: 0 auto;
	width: 100%;
}

.spider-man {
	display: inline-block;
	width: 33%;
	padding-bottom: 20px;
}

.spider-pic {
	background-color: #E6E6E6;
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 50%;
}

.spider-man p {
	font-family: 'Titillium Web 700', sans-serif;
	padding-top:  8px;
	text-align: center;
}



/*-------------------------------------
Spider-Man Bio Styles
-------------------------------------*/

.spider-bio {
	display: none;
}
