@charset "UTF-8";
/* CSS Document */

/*-------------------------------------
Main Styles
-------------------------------------*/

#main-header {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
}

#wrapper {
	display: block;
	line-height: 1.35em;
	margin: 0 auto;
	width: 90%;
}

#main-footer {
	display: block;
	margin: 0 auto;
	text-align: center;
}



/*-------------------------------------
Spider-Man Link Styles
-------------------------------------*/

ul {
	display: block;
	list-style: none;
	margin: 0 auto;
	width: 100%;
}

.spider-man {
	display: inline-block;
	width: 33%;
}

.spider-pic {
	display: block;
	margin: 0 auto;
	width: 50%;
}

.spider-man p {
	text-align: center;
}



/*-------------------------------------
Spider-Man Bio Styles
-------------------------------------*/

.spider-bio {
	display: none;
}
